<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" style="color:white;">Manage Video(s) -  Add Video </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']" style="color:white;">Dashboard</a></li>
            <li class="breadcrumb-item active" style="color:white;">Add Video</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid p-3">

        <div class="row justify-content-center">
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-8 col-sm-10 card p-3 my-5">

<div class="card-header"> 
  <h2 class="card-title">Add A Video</h2>
</div>
<div class="card-body">
              <form #addVideoform="ngForm" (ngSubmit)="addVideo();addVideoform.resetForm();">   
                   
                <div class="alert alert-danger alert-dismissible" *ngIf="msg">
                  <button type="button" class="close" (click)="removeMsg()">×</button>
                  <b>{{ msg }}</b>
                </div>
                <div class="row addVideo-form" >
                  <div class="col-md-12">
                    <div class="form-group">
                        <label for="course_id" class="label label-primary" >Course <small class="text-info">select a course to which the video will be added</small></label>
                          <select class="custom-select p-2"  name="course_id" [(ngModel)]="video.course_id" required 
                          #course_id="ngModel"
                          (blur)="validatecourseID(course_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)"
                          (change)="validatecourseID(course_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)"
                          [class.is-invalid]="courseIDHasError && course_id.touched">
                          <option value="null" selected>Select A Course</option>
                          <option value="{{ course.id }}" *ngFor="let course of courses">{{ course.title }}</option>
                          
                          </select>
                          <small class="text-danger"  [class.d-none]="!courseIDHasError || course_id.untouched"><b>Please Select A Valid Course </b></small>
                          <small class="text-danger"  [class.d-none]="course_id.valid || course_id.untouched"><b>required field</b></small>
                      </div>
                      <div class="form-group">
                        <label for="subject_id" class="label label-primary" >Subject <small class="text-info">select a subject to which the video will be added</small></label>
                          <select class="custom-select p-2"  name="subject_id" [(ngModel)]="video.subject_id" required 
                          #subject_id="ngModel"
                          (blur)="validatesubjectID(subject_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)" 
                          (change)="validatesubjectID(subject_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)"
                          [class.is-invalid]="subjectIDHasError && subject_id.touched">
                          <option value="null" selected>Select A Subject</option>
                          <option value="{{ subject.id }}" *ngFor="let subject of subjects">{{ subject.title }}</option>
                          
                          </select>
                          <small class="text-danger"  [class.d-none]="!subjectIDHasError || subject_id.untouched"><b>Please Select A Valid Subject </b></small>
                          <small class="text-danger"  [class.d-none]="subject_id.valid || subject_id.untouched"><b>required field</b></small>
                      </div>
                      <div class="form-group">
                        <label for="topic_id" class="label label-primary" >Topic <small class="text-info">select a topic to which the video will be added</small></label>
                          <select class="custom-select p-2"  name="topic_id" [(ngModel)]="video.topic_id" required 
                          #topic_id="ngModel"
                          (blur)="validatetopicID(topic_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)" 
                          (change)="validatetopicID(topic_id.value);validateTitle(title.value,topic_id.value,subject_id.value,course_id.value);getSerials(course_id.value,subject_id.value,topic_id.value)"
                          [class.is-invalid]="topicIDHasError && topic_id.touched">
                          <option value="null" selected>Select A Topic</option>
                          <option value="{{ topic.id }}" *ngFor="let topic of topics">{{ topic.title }}</option>
                          
                          </select>
                          <small class="text-danger"  [class.d-none]="!topicIDHasError || topic_id.untouched"><b>Please Select A Valid Topic </b></small>
                          <small class="text-danger"  [class.d-none]="topic_id.valid || topic_id.untouched"><b>required field</b></small>
                      </div>
                      <div class="form-group">
                        <label for="title" class="label label-primary" >Video Title</label>
                          <input type="text" class="form-control"  id="title" placeholder="Video Title *" name="title" [(ngModel)]="video.title" required 
                          #title="ngModel"
                          (blur)="validateTitle(title.value,topic_id.value,subject_id.value,course_id.value)" 
                          (change)="validateTitle(title.value,topic_id.value,subject_id.value,course_id.value)"
                          [class.is-invalid]="title.invalid && title.touched">
                          <small class="text-danger"  [class.d-none]="title.valid || title.untouched"><b>required field</b></small>
                          <small class="text-danger"  [class.d-none]="!videoExists || title.untouched"><b>Video With This Title Already Exists For This Course ...Try Different One </b></small>
                    
                        </div>
                      <div class="form-group">
                        <label for="description" class="label label-primary" >Description</label>
                          
                          <textarea class="form-control" placeholder="Video Description *" name="description" [(ngModel)]="video.description" required 
                          #description="ngModel"
                          [class.is-invalid]="description.invalid && description.touched"></textarea>
                          <small class="text-danger"  [class.d-none]="description.valid || description.untouched"><b>required field</b></small>
                      </div>
                      <div class="form-group">
                        <label for="video_src" class="label label-primary" >Video Source <small class="text-info">video source link i.e youtube, vimeo, public hosted files etc</small></label>
                          
                          <textarea class="form-control" placeholder="Video Source Link ...Example : https://abc.com?video=121123  *" name="video_src" [(ngModel)]="video.video_src" required 
                          #video_src="ngModel"
                          [class.is-invalid]="video_src.invalid && video_src.touched"></textarea>
                          <small class="text-danger"  [class.d-none]="video_src.valid || video_src.untouched"><b>required field</b></small>
                      </div>
                      <div class="form-group">
                        <label for="video_id" class="label label-primary" >Video ID <small class="text-info">video url last part after www.youtube.com&v=<strong>123456abc89</strong></small></label>
                          
                          <textarea class="form-control" placeholder="Video ID  " name="video_id" [(ngModel)]="video.video_id" required 
                          #video_id="ngModel"
                          [class.is-invalid]="video_id.invalid && video_id.touched"></textarea>
                          <small class="text-danger"  [class.d-none]="video_id.valid || video_id.untouched"><b>required field</b></small>
                      </div>
                      <div class="row"><!--row for three selects starts-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="serial_no" class="label label-primary" >Video Serial No <small class="text-info">missing serial no(s) are already taken for this course and selected subject and selected topic</small></label>
                                  <select class="custom-select p-2"  name="serial_no" [(ngModel)]="video.serial_no" required 
                                  #serial_no="ngModel"
                                  (blur)="validateVideoSerialNo(serial_no.value)" (change)="validateVideoSerialNo(serial_no.value)"
                                  [class.is-invalid]="serialNoHasError && serial_no.touched">
                                  <option value="null" selected>Select Video Serial No</option>
                                  <option value="{{ item }}" *ngFor="let item of serials_after; let i = index" >{{ item }}</option>
                                 
                                  </select>
                                  <small class="text-danger"  [class.d-none]="!serialNoHasError || serial_no.untouched"><b>Please Select A Valid Video Serial No </b></small>
                                  <small class="text-danger"  [class.d-none]="serial_no.valid || serial_no.untouched"><b>required field</b></small>
                              </div>
                        </div>
                        
                        

                      </div><!--row for three selects ends here-->
                      
                      
                      

                  </div>
                 
              </div>
              
              <button [disabled]="addVideoform.form.invalid  || videoExists || courseIDHasError || subjectIDHasError || topicIDHasError || serialNoHasError " type="submit" class="btn btn-success btn-block btn-lg btn-outline btn-shadow mt-3 mb-1">Add Video</button>
              
              </form>
            </div>
              <div class="card-footer" style=" text-align: center;">
                Check Existing Video(s)? 
                <small [routerLink]="['/allVideos']" class="btn btn-success btn-shadow" style=" text-align: center; cursor: pointer;"><b><i class="fas fa-users"></i> View Existing Video(s)</b></small>
              </div>

            </div>

        </div>

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->