<div class="wrapper">
<app-header></app-header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">User List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <div class="row">
            <div  *ngFor="let user of users " class="col-4 card" id="bloodCards">
                <div class="img-block">
                    <div class="circle">
                        <img *ngIf="user.gender === 'Male' || user.gender === 'male'"  class="bloodimg" [src]="'assets/img/maleuser.png'" width="100" height="100">
                        <img *ngIf="user.gender === 'Female' || user.gender === 'female'"  class="bloodimg" [src]="'assets/img/femaleuser.png'" width="100" height="120">
                    </div>
                </div>
                <div class="card-block">
                    <div class="text"><b style="color: maroon;"> {{user.username}} </b></div>
                    <div class="text"><b style="color: darkblue;"> {{user.userid}} </b></div>
                    <div class="text"><b style="color: maroon;"> {{user.email}} </b></div>
                    <div class="text"><b style="color: maroon;"> {{user.profession}} </b></div>
                    <div class="text"><b style="color: maroon;"> {{user.gender}} </b></div>
                    <div class="text"><b style="color: maroon;"> {{user.mobile}} </b></div>
                </div>
            </div>
          </div>

        </div>
    </div>

  </div>


 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->



<app-footer></app-footer>
</div>