 <!-- Content Header (Page header) -->
 <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0" style="color:white;">Welcome To Taalimul Quran </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right" style="color:white;">
          <li class="breadcrumb-item" style="color:white;"><a routerLink="/" style="color:white;">Home</a></li>
          <li class="breadcrumb-item active"  style="color:white;" >Welcome Page</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
  <div class="container-fluid" style="padding:20px;">

  
    <div class="text" >
      <section class="row">
        <section class="col-lg-3 col-md-12 col-sm-12">
          <img src=".././../../assets/img/islam_madrasa.png" class="img-fluid">
        </section>
        <section class="col-lg-9 col-md-12 col-sm-12">
          <h1>Taalimul Quran is a digital Islamic platform for <br> <span>all Muslim Ummah</span></h1>
          <p>
            In fact it is made for Muslims and reverted Muslims. So that they can easily learn and understand the Quran and Livestyle of our beloved Prophet.
          </p>
        </section>
        
       

      </section>
      
      



      <div class="card card-default card-outline my-5" style="background:transparent;"><!--card of heading and features starts here-->
        <div class="card-body">
          <h2>Features:</h2> 
          <ul class="list-group list-group-flush" style="background-color:transparent;color:white;">
           <li class="list-group-item" style="background-color:transparent;color:white;">Beautiful and versatile courses tailored for all learning age groups.</li>
           <li class="list-group-item" style="background-color:transparent;color:white;">Strong community of Madrasas and talented teachers across whole india</li>
            <li class="list-group-item" style="background-color:transparent;color:white;">Quran and prayer teaching videos.</li> 
            
            <li class="list-group-item" style="background-color:transparent;color:white;">Translation of Quran in more languages - which can be easily understood by the people of any country.</li> 
            
            <li class="list-group-item" style="background-color:transparent;color:white;">Pure Tafsir of the Qur'an - which is capable of explaining the Qur'an to a person.</li> 
            
            <li class="list-group-item" style="background-color:transparent;color:white;">International Reciter - which will cool your heart.</li> 
            
            <li class="list-group-item" style="background-color:transparent;color:white;">An easy way to memorize Surahs and Doa very quickly - so that people benefit.</li>
            
            <li class="list-group-item" style="background-color:transparent;color:white;">Question and answer system - so that people can know the unknown and follow Islam fully in daily life.</li>
            
            <li class="list-group-item" style="background-color:transparent;color:white;">There are also Quizs and Exciting Programs - to discuss and learn various aspects of Islam and how to apply it in real life.</li>  
   
          </ul>

        </div>
      </div><!--card of heading and features ends here-->
      


     </div>


    <div class="card card-default card-outline my-5" style="background:transparent;"><!--card of getting started starts here-->
      <div class="card-header">
        <h2 class="card-title" style="color:white;">Get Started</h2>
      </div>
      <div class="card-body text-center" >
        

        <div class="row">
             <div class="col-lg-6 col-6">
            <!-- small box -->
                 <div class="small-box bg-primary">
              <div class="inner">
                <p>Sign In To Your Account</p>
                <button class="btn btn-primary btn-shadow btn-lg mr-2" [routerLink]="['/login']">
                  <i class="fa fa-sign-in"></i>
                   LOGIN
                </button>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
             </div>
          <!-- ./col -->
              <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <p>Create A New Account</p>
              <button  class="btn btn-success btn-shadow btn-lg mx-2"  [routerLink]="['/registration']">
                <i class="fa fa-user-plus"></i>
                 CREATE ACCOUNT
              </button>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
               </div>
        </div>
        <div >     
         </div>

      </div>
    </div><!--card of getting started ends here-->

    <div class="card card-default card-outline my-5" style="background:transparent;"><!--card of extra landing page stuff starts here-->

    <div class="card-body">
      <p class="alert alert-info">More Stuff About Taalimul Quran Goes Here</p>

    </div>

    </div><!--card of extra landing page stuff ends here-->
  



  </div>
</div><!--content div ends here-->


