.text {
    position: relative;
    text-align: center;
}
.bg_islam {
    background-image: url("../../../assets/img/islam_madrasa.png");
    background-color:transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text h1 {
    font-family: 'Verdana', Geneva, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 35px;
    color: #fff;
}
.text h2 {
    font-family: 'Verdana', Geneva, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 30px;
    color: #fff;
}
/* .text ul {
    font-family:  'Geneva', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.text ul  li {
    margin-bottom:10px;
} */


.text h1 span {
    font-size: 50px;
}
 .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #e7e3e3;
 }
.btn3 {
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}

