<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" style="color:white;">Manage Course(s) -  Add Course </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']" style="color:white;">Dashboard</a></li>
            <li class="breadcrumb-item active" style="color:white;">Add Course</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid p-3">

        <div class="row justify-content-center">
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-8 col-sm-10 card p-3 my-5">

<div class="card-header"> 
  <h2 class="card-title">Add A Course</h2>
</div>
<div class="card-body">
              <form #addCourseform="ngForm" (ngSubmit)="addCourse();addCourseform.resetForm();">   

                <div class="alert alert-danger alert-dismissible" *ngIf="msg">
                  <button type="button" class="close" (click)="removeMsg()">×</button>
                  <b>{{msg}}</b>
                </div>
                <div class="row addCourse-form" >
                  <div class="col-md-12">
                      <div class="form-group">
                        <label for="title" class="label label-primary" >Course Title</label>
                          <input type="text" class="form-control"  id="title" placeholder="Course Title *" name="title" [(ngModel)]="course.title" required 
                          #title="ngModel"
                          (blur)="validateTitle(title.value)" (change)="validateTitle(title.value)"
                          [class.is-invalid]="title.invalid && title.touched">
                          <small class="text-danger"  [class.d-none]="title.valid || title.untouched"><b>required field</b></small>
                          <small class="text-danger"  [class.d-none]="!courseExists || title.untouched"><b>Course With This Title Already Exists  ...Try Different One </b></small>
                    
                        </div>
                      <div class="form-group">
                        <label for="description" class="label label-primary" >Course Description</label>
                          
                          <textarea class="form-control" placeholder="Course Description *" name="description" [(ngModel)]="course.description" required 
                          #description="ngModel"
                          [class.is-invalid]="description.invalid && description.touched"></textarea>
                          <small class="text-danger"  [class.d-none]="description.valid || description.untouched"><b>required field</b></small>
                      </div>
                      <div class="row"><!--row for three selects starts-->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="course_type" class="label label-primary" >Course Type</label>
                                  <select class="custom-select p-2"  name="course_type" [(ngModel)]="course.course_type" required 
                                  #course_type="ngModel"
                                  (blur)="validateCourseType(course_type.value)" (change)="validateCourseType(course_type.value)"
                                  [class.is-invalid]="courseTypeHasError && course_type.touched">
                                  <option value="null" selected>Select Course Type</option>
                                  <option value="video" >Video</option>
                                  <option value="audio">Audio</option>
                                  <option value="just_quiz">Just Quiz</option>
                                  </select>
                                  <small class="text-danger"  [class.d-none]="!courseTypeHasError || course_type.untouched"><b>Please Select A Valid Course Type </b></small>
                                  <small class="text-danger"  [class.d-none]="course_type.valid || course_type.untouched"><b>required field</b></small>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="skill_level" class="label label-primary" >Skill Level</label>
                                  <select class="custom-select p-2"  name="skill_level" [(ngModel)]="course.skill_level" required 
                                  #skill_level="ngModel"
                                  (blur)="validateSkillLevel(skill_level.value)" (change)="validateSkillLevel(skill_level.value)"
                                  [class.is-invalid]="courseSkillLevelHasError && skill_level.touched">
                                  <option value="null" selected>Select Skill Level</option>
                                  <option value="1" >Level 1</option>
                                  <option value="2">Level 2</option>
                                  <option value="3">Level 3</option>
                                  </select>
                                  <small class="text-danger"  [class.d-none]="!courseSkillLevelHasError || skill_level.untouched"><b>Please Select A Valid Skill Level </b></small>
                                  <small class="text-danger"  [class.d-none]="skill_level.valid || skill_level.untouched"><b>required field</b></small>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="language" class="label label-primary" >Language</label>
                                  <select class="custom-select p-2"  name="language" [(ngModel)]="course.language" required 
                                  #language="ngModel"
                                  (blur)="validateCourseLanguage(language.value)" (change)="validateCourseLanguage(language.value)"
                                  [class.is-invalid]="courseLanguageHasError && language.touched">
                                  <option value="null" selected>Select Course Language</option>
                                  <option value="urdu" >Urdu</option>
                                  <option value="hindi">Hindi</option>
                                  <option value="english">English</option>
                                  </select>
                                  <small class="text-danger"  [class.d-none]="!courseLanguageHasError || language.untouched"><b>Please Select A Valid Course Language </b></small>
                                  <small class="text-danger"  [class.d-none]="language.valid || language.untouched"><b>required field</b></small>
                              </div>
                        </div>

                      </div><!--row for three selects ends here-->
                      
                      
                      

                  </div>
                 
              </div>
              
              <button [disabled]="addCourseform.form.invalid  || courseExists || courseLanguageHasError || courseSkillLevelHasError || courseTypeHasError" type="submit" class="btn btn-success btn-block btn-lg btn-outline btn-shadow mt-3 mb-1">Add Course</button>
              
              </form>
            </div>
              <div class="card-footer" style=" text-align: center;">
                Check Existing Course(s)? 
                <small [routerLink]="['/allCourses']" class="btn btn-success btn-shadow" style=" text-align: center; cursor: pointer;"><b><i class="fas fa-users"></i> View Existing Course(s)</b></small>
              </div>

            </div>

        </div>

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->