 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand navbar-white navbar-light gradient-custom" style="border-color:transparent;">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!noLogin">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a (click)="navigateHome()" class="nav-link" style="color:white;">Taalimul Quran - Home</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">


    <!-- User Dropdown Menu -->
    <li class="nav-item dropdown" *ngIf="!noLogin">
      <a class="nav-link" data-toggle="dropdown">
        <i class="fa-solid fa-user" style="color:white;"></i>
        <span class="" style="color:white;"> Welcome {{loggedUser}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-footer">See All dropdown options</a>
      </div>
    </li>
    <li class="nav-item" *ngIf="noLogin">
      <button class="btn btn-primary btn-shadow btn-sm mr-2" [routerLink]="['/login']">
        <i class="fa fa-sign-in"></i>
         Log In
      </button>
      <button  class="btn btn-success btn-shadow btn-sm mx-2"  [routerLink]="['/registration']">
        <i class="fa fa-user-plus"></i>
         Create Account
      </button>
    </li>
    <li class="nav-item" *ngIf="!noLogin">
      <a class="btn btn-primary" style="color:white;" (click)="logout()"   role="button">
        <i class="fa fa-sign-out"></i>
        Logout
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-widget="fullscreen"  role="button">
        <i class="fas fa-expand-arrows-alt" style="color:white;"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="!noLogin">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true"  role="button">
        <i class="fas fa-th-large" style="color:white;"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->



<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" *ngIf="!noLogin" style="background:#6a11cb;">
  <!-- Brand Logo -->
  <a (click)="navigateHome()" class="brand-link">
    <img src="../../../assets/img/admin.png" alt="User Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light" style="color:white;">{{title}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../assets/img/avatar.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block">{{ loggedUser }}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="['/admindashboard']" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dashboard
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-school"></i>
            <p>
              Manage Madrasas 
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-success right">{{ madrasa_count  }}  <!--madrasa count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allMadrasas']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Madrasas</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addMadrasa']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Madrasa</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-brain"></i>
            <p>
              Manage Principals
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-success right">{{ principal_count  }}  <!--principal count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allPrincipals']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Principals</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addPrincipal']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Principal</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Manage Teachers
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"> {{ teacher_count  }}  <!--teachers count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allTeachers']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Teachers</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addTeacher']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Teacher</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Manage Courses
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"> {{ course_count  }}  <!--courses count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allCourses']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Courses</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addCourse']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Course</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Manage Subjects
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-primary right"> {{ subject_count  }}  <!--subjects count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allSubjects']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Subjects</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addSubject']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Subject</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-clipboard"></i>
            <p>
              Manage Topics
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-primary right"> {{ topic_count  }}  <!--topics count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allTopics']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Topics</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addTopic']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Topic</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-video"></i>
            <p>
              Manage Videos
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-primary right"> {{ video_count  }}  <!--videos count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allVideos']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Videos</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addVideo']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Video</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-vials"></i>
            <p>
              Manage Quizzes
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-primary right"> {{ quiz_count  }}  <!--subjects count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allQuizzes']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Quizzes</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addQuiz']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Quiz</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Manage Students
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-success right"> {{ student_count  }}  <!--students count here-->  </span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" [routerLink]="['/allStudents']">
              <a class="nav-link">
                <i class="fa-solid fa-bars nav-icon"></i>
                <p>All Students</p>
              </a>
            </li>
            <li class="nav-item" [routerLink]="['/addStudent']">
              <a  class="nav-link">
                <i class="fa-solid fa-plus nav-icon"></i>
                <p>Add New Student</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="['/addCourse']" class="nav-link">
            <i class="nav-icon fas fa-cart-plus" ></i>
            <p>
              Add Course 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/addchapter']" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Add Chapter
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/approveprofessor']" class="nav-link">
            <i class="nav-icon fas fa-check-square"></i>
            <p>
              Approve Professor
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/courselist']" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Course List
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/mywishlist']" class="nav-link">
            <i class="nav-icon fas fa-heart"></i>
            <p>
              Wishlist
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/professorlist']" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Professors List
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/userlist']" class="nav-link">
            <i class="nav-icon fas fa-graduation-cap"></i>
            <p>
              Users List
            </p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

