<div class="wrapper">
<app-header></app-header>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Professor List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active">Professor List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">



<div class="row">
        <!-- <div *ngFor="let professor of professorlist | async" class="col-4 card" id="bloodCards"> -->
          <div *ngFor="let professor of professorlist" class="col-4 card" id="bloodCards">
         <div class="img-block">
            <div class="circle">
                <img *ngIf="professor.gender === 'Male' || professor.gender === 'male'"  class="bloodimg" [src]="'assets/img/maleprofessor.png'" width="120" height="120">
                <img *ngIf="professor.gender === 'Female' || professor.gender === 'female'"  class="bloodimg" [src]="'assets/img/femaleprofessor.png'" width="120" height="120">
            </div>
        </div>
        <div class="card-block">
            <div class="text"><b style="color: darkblue">Professor ID : </b><b style="color: darkred;"><small class="date-cover">{{professor.professorid}}</small></b></div>
            <div class="text"><b style="color: darkblue">Professor Name : </b><b style="color: darkred;"> {{professor.professorname}} </b></div>
            <div class="text"><b style="color: darkblue">Degree Completed : </b><b style="color: darkred;"> {{professor.degreecompleted}} </b></div>
            <div class="text"><b style="color: darkblue">Email : </b><b style="color: darkred;"> {{professor.email}} </b></div>
            <div class="text"><b style="color: darkblue">Institution Name : </b><b style="color: darkred;"> {{professor.institutionname}} </b></div>
            <div class="text"><b style="color: darkblue">Department : </b><b style="color: darkred;"> {{professor.department}} </b></div>
            <div class="text"><b style="color: darkblue">Experience: </b><b style="color: darkred;"> {{professor.experience}} years </b></div>
            <div class="text"><b style="color: darkblue">Gender : </b><b style="color: darkred;"> {{professor.gender}} </b></div>
            <div class="text"><b style="color: darkblue">Mobile : </b><b style="color: darkred;"> {{professor.mobile}} </b></div>
            <div *ngIf="professor.status === 'accept'">
                <div class="status-btn">Approved Professor</div>
            </div>
            <div *ngIf="professor.status === 'reject'" >
                <div class="status-btn2">Rejected</div>
            </div>
            <div *ngIf="professor.status === 'false'" >
                <div class="status-btn1">Approval Pending</div>
            </div>
        </div>
    </div>
</div>


</div>
</div>

</div>


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
<div class="p-3">
  <h5>Title</h5>
  <p>Sidebar content</p>
</div>
</aside>
<!-- /.control-sidebar -->



<app-footer></app-footer>
</div>