
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="color:white;">Admin Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']" style="color:white;">Dashboard</a></li>
              <li class="breadcrumb-item active" style="color:white;">Featured</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid p-3">
        <div class="row">
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
          
            <div class="card">
              <div class="card-header border-0">
              <div class="d-flex justify-content-between">
              <h3 class="card-title">Different Users Statistics</h3>
              <a href="javascript:void(0);">View Report</a>
              </div>
              </div>
              <div class="card-body">
            <div id="divChart" style="background:white;">
              <canvas id="Users Analytics"></canvas>
          </div>
              </div>
              </div>
            </div>

             <!-- /.col-md-6 -->
          <div class="col-lg-6">

            <div class="card">
              <div class="card-header border-0">
              <div class="d-flex justify-content-between">
              <h3 class="card-title">Madrasa Statistics</h3>
              <a href="javascript:void(0);">View Report</a>
              </div>
              </div>
              <div class="card-body">
              <div class="d-flex">
              <p class="d-flex flex-column">
              <span class="text-bold text-lg">2</span>
              <span>Madrasa Registered</span>
              </p>
              <p class="ml-auto d-flex flex-column text-right">
              <span class="text-success">
              <i class="fas fa-arrow-up"></i> 50.5%
              </span>
              <span class="text-muted">Since last week</span>
              </p>
              </div>
              
              <div class="position-relative mb-4">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <canvas id="visitors-chart" height="200" width="814" style="display: block; width: 814px; height: 200px;" class="chartjs-render-monitor"></canvas>
              </div>
              <div class="d-flex flex-row justify-content-end">
              <span class="mr-2">
              <i class="fas fa-square text-primary"></i> This Week
              </span>
              <span>
              <i class="fas fa-square text-gray"></i> Last Week
              </span>
              </div>
              </div>
              </div>  
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                <h3 class="card-title">Teachers Statistics</h3>
                <a href="javascript:void(0);">View Report</a>
                </div>
                </div>
                <div class="card-body">
                <div class="d-flex">
                <p class="d-flex flex-column">
                <span class="text-bold text-lg">2</span>
                <span>Teachers Registered</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                <span class="text-success">
                <i class="fas fa-arrow-up"></i> 10.0%
                </span>
                <span class="text-muted">Since last week</span>
                </p>
                </div>
                
                <div class="position-relative mb-4">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="visitors-chart" height="200" width="814" style="display: block; width: 814px; height: 200px;" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                <i class="fas fa-square text-primary"></i> This Week
                </span>
                <span>
                <i class="fas fa-square text-gray"></i> Last Week
                </span>
                </div>
                </div>
                </div> 
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">

                  <div class="card-body">

                   
                    <canvas id="my-chart2">

                    </canvas>
                    


                  </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row">
                <div class="col-lg-3 col-6">
                
                <div class="small-box bg-info">
                <div class="inner">
                <h3>0</h3>
                <p>Students</p>
                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                </div>
                
                <div class="col-lg-3 col-6">
                
                <div class="small-box bg-success">
                <div class="inner">
                <h3>90<sup style="font-size: 20px">%</sup></h3>
                <p>Student Attendance</p>
                </div>
                <div class="icon">
                <i class="ion ion-stats-bars"></i>
                </div>
                <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                </div>
                
                <div class="col-lg-3 col-6">
                
                <div class="small-box bg-warning">
                <div class="inner">
                <h3>4</h3>
                <p>Courses</p>
                </div>
                <div class="icon">
                <i class="ion ion-person-add"></i>
                </div>
                <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                </div>
                
                <div class="col-lg-3 col-6">
                
                <div class="small-box bg-danger">
                <div class="inner">
                <h3>5</h3>
                <p>Quizs</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                </div>
                
                </div>
            </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Registration Reports</h5>
              </div>
              <div class="card-body">
                <!-- <h6 class="card-title">User Registration Widget</h6>
                <br>
                  <hr> -->
                <!-- <p class="card-text">Widget Text Goes Here</p> -->
                 <!-- <div class="sub-text" *ngFor="let user of users | async">{{user}} users registered</div> -->
                 <section class="m-3">
                   <div class="card-text" *ngFor="let user of users">{{user.username}}  registered</div>
                   <a [routerLink]="['/userlist']" class="btn btn-primary">Students List</a>
                  </section>
                  <section class="m-3">
                   <div class="card-text" *ngFor="let user of professors">{{user.professorname}}  registered</div>
                   <a [routerLink]="['/professorlist']" class="btn btn-primary">Teachers List</a>
                  </section>
                   
              </div>
            </div>
              </div>
             
          <div class="col-lg-6 col-md-12 col-sm-12">
            
              <div class="card">
              <div class="card-header border-0">
              <div class="d-flex justify-content-between">
              <h3 class="card-title">Platform Activity</h3>
              <a href="javascript:void(0);">View Report</a>
              </div>
              </div>
              <div class="card-body">
              <div class="d-flex">
              <p class="d-flex flex-column">
              <span class="text-bold text-lg">18,230.00 hits</span>
              <span>Activity Over Time</span>
              </p>
              <p class="ml-auto d-flex flex-column text-right">
              <span class="text-success">
              <i class="fas fa-arrow-up"></i> 30.1%
              </span>
              <span class="text-muted">Since last month</span>
              </p>
              </div>
               
              <div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <canvas id="sales-chart" height="200" style="display: block; width: 814px; height: 200px;" width="814" class="chartjs-render-monitor"></canvas>
              </div>
              <div class="d-flex flex-row justify-content-end">
              <span class="mr-2">
              <i class="fas fa-square text-primary"></i> This year
              </span>
              <span>
              <i class="fas fa-square text-gray"></i> Last year
              </span>
              </div>
              </div>
              </div>
              
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">

              
              <div class="card">
              <div class="card-header border-0">
              <h3 class="card-title">Platform Overview</h3>
              <div class="card-tools">
              <a href="#" class="btn btn-sm btn-tool">
              <i class="fas fa-download"></i>
              </a>
              <a href="#" class="btn btn-sm btn-tool">
              <i class="fas fa-bars"></i>
              </a>
              </div>
              </div>
              <div class="card-body">
              <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
              <p class="text-success text-xl">
              <i class="ion ion-ios-refresh-empty"></i>
              </p>
              <p class="d-flex flex-column text-right">
              <span class="font-weight-bold">
              <i class="ion ion-android-arrow-up text-success"></i> 12%
              </span>
              <span class="text-muted">COURSES CONSUMPTION RATE</span>
              </p>
              </div>
              
              <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
              <p class="text-warning text-xl">
              <i class="ion ion-ios-cart-outline"></i>
              </p>
              <p class="d-flex flex-column text-right">
              <span class="font-weight-bold">
              <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
              </span>
              <span class="text-muted">QUIZES ATTENDANCE RATE</span>
              </p>
              </div>
              
              <div class="d-flex justify-content-between align-items-center mb-0">
              <p class="text-danger text-xl">
              <i class="ion ion-ios-people-outline"></i>
              </p>
              <p class="d-flex flex-column text-right">
              <span class="font-weight-bold">
              <i class="ion ion-android-arrow-down text-danger"></i> 1%
              </span>
              <span class="text-muted">DOUBT SESSIONS RATE</span>
              </p>
              </div>
              
              </div>
              </div>
              

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->



  <!-- <div class="container">
    <div class="row">
      <div style="color: maroon; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px; margin: 0% 0% 1% 0%;"><b>Welcome to Admin Dashboard -Taalimul Quran </b></div>
      <div style="color: darkgreen; font-weight: bold; font-size: 22px; margin: 0% 0% 2% 29%;"><b>Team Taalimul Quran</b></div>
      <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 30px;" class="fa fa-user"></i></div>
          <div class="text">Users</div>
          <div class="sub-text" *ngFor="let user of users | async">{{user}} users registered</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-user-o"></i></div>
          <div class="text" >Professors</div>
          <div class="sub-text" *ngFor="let professor of professors | async">{{professor}} Professors currently teaching the learners</div>
        </div>
        <div class="dashboard-card"style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
          <div class="text">Courses</div>
          <div class="sub-text" *ngFor="let course of courses | async">{{course}} courses available</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 15px;" class="fa fa-graduation-cap"></i></div>
          <div class="text">Leaners</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} enrollments have been made by <b *ngFor="let enrollment of enrollments | async">{{enrollment}}</b> Learners</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-list"></i></div>
          <div class="text">Chapters</div>
          <div class="sub-text" *ngFor="let chapter of chapters | async">{{chapter}} courses are with its <br>detailed chapters</div>
        </div>
        <div class="dashboard-card" style="background-color: white; box-shadow: 4px 4px 25px 5px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-heart"></i></div>
          <div class="text">Favourites</div>
          <div class="sub-text" *ngFor="let wishlists of wishlist | async">{{wishlists}} courses are loved by most of the Leaners </div>
        </div>      
    </div>
  </div>  -->














  


 




