<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" style="color:white;">Create An Account In Taalimul Quran </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right" style="color:white;">
            <li class="breadcrumb-item" style="color:white;"><a routerLink="/" style="color:white;">Home</a></li>
            <li class="breadcrumb-item active"  style="color:white;" >Sign Up Page</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->


  <div class="content">
    <div class="container-fluid register" style="padding:20px;">

        <div class="card" style="background-color: transparent;">
            <div class="card-header p-2">
                <ul class="nav nav-pills nav-fill">
                  <li class="nav-item"><a class="nav-link active" href="#student" data-toggle="tab" style="color:white;">Student / Talib</a></li>
                  <li class="nav-item"><a class="nav-link" href="#teacher" data-toggle="tab"  style="color:white;">Teacher / Aalim</a></li>
                 
                </ul>
              </div><!-- /.card-header -->

              <div class="card-body row" style="background-color: transparent;">

                <section class="col-lg-3 col-md-12 col-sm-12">
                  <img src=".././../../assets/img/islam_madrasa.png" class="img-fluid">
                </section>
                
                <div class="tab-content col-lg-9 col-md-12 col-sm-12" >
                    <div class="active tab-pane p-4" id="student"><!--student tab pane starts here-->
                        <h2  style="color:white;text-align:center;">Student / Talib Sign Up</h2>
                        <div class="alert alert-danger alert-dismissible" *ngIf="msg">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>{{msg}}</b>
                          </div>
                        <form #userform="ngForm" (ngSubmit)="registerUser()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="user name *" name="username" [(ngModel)]="user.username" required 
                                    #username="ngModel"
                                    [class.is-invalid]="username.invalid && username.touched">
                                    <small class="text-danger" style="color:white;" [class.d-none]="username.valid || username.untouched"><b>required field</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="gender *" name="usergender" 
                                    [(ngModel)]="user.gender"
                                     required 
                                    #usergender="ngModel"
                                    [class.is-invalid]="usergender.invalid && usergender.touched">
                                    <small class="text-danger" style="color:white;" [class.d-none]="usergender.valid || usergender.untouched"><b>required field</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="your profession *" name="userprofession" [(ngModel)]="user.profession" required 
                                    #userprofession="ngModel"
                                    [class.is-invalid]="userprofession.invalid && userprofession.touched">
                                    <small class="text-danger" style="color:white;" [class.d-none]="userprofession.valid || userprofession.untouched"><b>required field</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" name="pwd" [(ngModel)]="user.password" required 
                                    #userpassword="ngModel"
                                    [class.is-invalid]="userpassword.invalid && userpassword.touched">
                                    <div *ngIf="userpassword.errors && userpassword.invalid && userpassword.touched">
                                      <small class="text-danger" style="color:white;" *ngIf="userpassword.errors.required"><b>required field</b></small>
                                    </div>
                                    <small style="color: white; font-size: 10px;">combination of uppercase, numeric digit, lowercase, special character, length of 6-20</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email address *" name="useremail" [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                    #useremail="ngModel"
                                    [class.is-invalid]="useremail.invalid && useremail.touched">
                                    <div *ngIf="useremail.errors && (useremail.invalid && useremail.touched)">
                                        <small class="text-danger" *ngIf="useremail.errors.required" style="color:white;"><b>required field</b></small>
                                        <small class="text-danger" *ngIf="useremail.errors.pattern" style="color:white;"><b>Invalid email Id</b></small>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="mobile *" name="usermobile" [(ngModel)]="user.mobile" required 
                                    #usermobile="ngModel"
                                    [class.is-invalid]="usermobile.invalid && usermobile.touched">
                                    <small class="text-danger" [class.d-none]="usermobile.valid || usermobile.untouched" style="color:white;"><b>required field</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="address *" name="useraddress" [(ngModel)]="user.address" required 
                                    #useraddress="ngModel"
                                    [class.is-invalid]="useraddress.invalid && useraddress.touched">
                                    <small class="text-danger" [class.d-none]="useraddress.valid || useraddress.untouched" style="color:white;"><b>required field</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Confirm Password *" name="ConfirmPassword" (ngModel)="user.password" required 
                                    #userconfirmPassword="ngModel"
                                    [class.is-invalid]="userconfirmPassword.invalid && userconfirmPassword.touched">
                                    <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                                        <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                                    </div>-->
                                    <small class="text-danger" style="color:white;" [class.d-none]="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.untouched"><b>password not matched</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" class="p-2 m-2" style="">
                            <small style="color:white;" ><input type="checkbox" class="checkbox" name="remember" required > I agree to all Terms & Conditions</small>
                        </div>
                        
                        <button [disabled]="userform.form.invalid" type="submit" class="btn btn-success btn-block btn-lg btn-outline btn-shadow">Register Student / Talib</button>
                        <div class="p-2 m-2" style="font-size: 16px;color:white;">Already have an Account? 
                            <small [routerLink]="['/login']" class="btn btn-info btn-shadow" style=" text-align: center; cursor: pointer;"><b>click here</b></small>
                        </div>
                    </form>

                    </div>

                    <div class="tab-pane p-4" id="teacher"><!--teacher tab pane starts here-->

                        <h2  style="color:white;text-align:center;">Teacher / Aalim Sign Up</h2>
                        <div class="alert alert-danger alert-dismissible" *ngIf="msg">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>{{msg}}</b>
                          </div>
                    <form #professorform="ngForm" (ngSubmit)="registerProfessor()">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Professor Name *" name="professorname" [(ngModel)]="professor.professorname" required 
                                #professorname="ngModel"
                                [class.is-invalid]="professorname.invalid && professorname.touched">
                               <small class="text-danger" [class.d-none]="professorname.valid || professorname.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="email address *" name="professoremail" [(ngModel)]="professor.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                #professoremail="ngModel"
                                [class.is-invalid]="professoremail.invalid && professoremail.touched">
                                <div *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                                    <small class="text-danger" *ngIf="professoremail.errors.required"><b>required field</b></small>
                                    <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Invalid email Id</b></small>
                                  </div>                          
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="gender *" name="professorgender" [(ngModel)]="professor.gender" required 
                                #professorgender="ngModel"
                                [class.is-invalid]="professorgender.invalid && professorgender.touched">
                                <small class="text-danger" [class.d-none]="professorgender.valid || professorgender.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="mobile *" name="professormobile" [(ngModel)]="professor.mobile" required 
                                #professormobile="ngModel"
                                [class.is-invalid]="professormobile.invalid && professormobile.touched">
                               <small class="text-danger" [class.d-none]="professormobile.valid || professormobile.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="password *" name="pwd" [(ngModel)]="professor.password" required 
                                #professorpassword="ngModel"
                                [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                                <div *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                                  <small class="text-danger" *ngIf="professorpassword.errors.required"><b>required field</b></small>
                                </div>
                                <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special character, length of 6-20</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Institution name *" name="institutionname" [(ngModel)]="professor.institutionname" required 
                                #institutionname="ngModel"
                                [class.is-invalid]="institutionname.invalid && institutionname.touched">
                               <small class="text-danger" [class.d-none]="institutionname.valid || institutionname.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="department *" name="department" [(ngModel)]="professor.department" required 
                                #department="ngModel"
                                [class.is-invalid]="department.invalid && department.touched">
                               <small class="text-danger" [class.d-none]="department.valid || department.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="year of experience *" name="experience" [(ngModel)]="professor.experience" required 
                                #experience="ngModel"
                                [class.is-invalid]="experience.invalid && experience.touched">
                               <small class="text-danger" [class.d-none]="experience.valid || experience.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Degrees completed *" name="degreecompleted" [(ngModel)]="professor.degreecompleted" required 
                                #degreecompleted="ngModel"
                                [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                               <small class="text-danger" [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="confirm password *" name="ConfirmPassword" (ngModel)="professor.password" required 
                                #professorconfirmPassword="ngModel"
                                [class.is-invalid]="professorconfirmPassword.invalid && professorconfirmPassword.touched">
                                <small class="text-danger" [class.d-none]="(professorconfirmPassword.value == professorpassword.value) || professorconfirmPassword.untouched"><b>password not matched</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox" class="p-2 m-2" style="">
                        <small style="color: white;"><input type="checkbox" class="checkbox" name="remember" required> I agree to all Terms & Conditions</small>
                    </div>
                    
                    <button [disabled]="professorform.form.invalid" type="submit" class="btn btn-success btn-block btn-lg btn-outline btn-shadow">Register Teacher / Aalim</button>
                    <div class="p-2 m-2" style=" color: white; font-size: 16px;">Already have an Account? 
                        <small [routerLink]="['/login']" class="btn btn-info btn-shadow" style=" text-align: center; cursor: pointer;"><b>click here</b></small>
                    </div>
                </form>

                    </div>
                
                </div>

              </div>


        </div>



</div>				                            
</div>