<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 row" style="color:white;">
            <span class="col-lg-6 col-12">View Course #{{ course.id }}</span>
            <span class="col-lg-6 col-12 btn-group">
                <a class=" btn btn-primary btn-sm " style="float:right;" [routerLink]="['/allCourses']" > All Course(s) </a>
                <a class=" btn btn-info btn-sm " style="float:right;" [routerLink]="['/addCourse']" >+ Add A Course </a>
            </span>
        </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admindashboard']" style="color:white;">Dashboard</a></li>
            <li class="breadcrumb-item active " [routerLink]="['/allCourses']" style="color:white;cursor:pointer;">All Course(s)</li>
            <li class="breadcrumb-item active" style="color:white;">Course #{{ course.id }}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

     <!-- Main content -->
     <div class="content">
        <div class="container-fluid p-3">
            <div class="row">
                <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!--teacher image and title and status-->
            <div class="card card-primary" style="background:transparent;">
                <div class="card-header" style="background:transparent;">
                    <div class="row">
                        <h5 style="color:white;" class="card-title col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                            <i class="fas fa-list" style="text-align: center;color:white;"></i>
                             Course Detail Card 
                            </h5>
                        
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                            <a class="btn btn-default btn-sm " style="background: #6a11cb;color:white;float:right;" [routerLink]="['/editCourse/'+current_course_id]" ><i class="fas fa-pencil" style="text-align: center;color:white;"></i> Edit Course </a>
                        </span>
                        </div>
                </div>
                 <div class="card-body p-3 row" style="background:transparent;">
                    <i class="fas fa-list fa-6x col-12 p-3" style="text-align: center;color:white;"></i>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Course Title </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:white;">{{ course.title }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Description </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:white;">{{ course.description }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Course Type </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:white;">{{ course.course_type }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Language </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:white;">{{ course.language }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Skill Level </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:white;">{{ course.skill_level }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Subjects </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;"><span class="badge badge-default p-2"  style="color: #6a11cb;background-color:white;">{{ course.subjects_count }}</span></span>
                   
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:white;">Course Status </span> <span [ngClass]="course.status == '1' ? 'alert-info' : 'alert-danger'" class="col-lg-4 col-md-12 col-sm-12 p-2 alert-sm" style="text-transform:capitalize;font-size:16px;color:white;text-align: center;">{{ (course.status=="1")? "Active": "Inactive" }}</span>
                </div>
            </div>
        </div><!-- col-lg-4 ends here-->
        <div class="col-lg-8 row">
        <!--course other functions goes here-->
        
                  <!--course stats section starts here-->
                <div class="card card-primary col-lg-12 col-md-12 col-sm-12" style="background:transparent;overflow:hidden;">
                        <div class="card-header p-2"  style="background:transparent;" >
                                <h4 class="card-title" style="color:white;"> <i class="fas fa-list" style="text-align: center;color:white;"></i> Course Statistics</h4>
                        </div>
                        <div class="card-body p-2 row" style="background: transparent;">
                            <div class="col-lg-3 col-6">
                                <div class="small-box bg-info">
                                <div class="inner">
                                <h3>{{ course_data_count.subject_count }}</h3>
                                <p>Subjects</p>
                                </div>
                                <div class="icon">
                                <i class="fa fa-book"></i>
                                </div>
                                <!-- <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                                </div>
                                </div>

                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                        <h3>{{ course_data_count.topic_count }}</h3>
                                        <p>Topics</p>
                                        </div>
                                        <div class="icon">
                                        <i class="fa fa-clipboard"></i>
                                        </div>
                                        <!-- <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>

                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-primary">
                                        <div class="inner">
                                        <h3>{{ course_data_count.video_count }}</h3>
                                        <p>Videos</p>
                                        </div>
                                        <div class="icon">
                                        <i class="fa fa-video"></i>
                                        </div>
                                        <!-- <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>

                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-warning" >
                                        <div class="inner">
                                        <h3>{{ course_data_count.quiz_count }}</h3>
                                        <p >Quizzes</p>
                                        </div>
                                        <div class="icon">
                                        <i class="fa fa-vials"></i>
                                        </div>
                                        <!-- <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="small-box bg-info" >
                                        <div class="inner">
                                        <h3 style="overflow:scroll;">
                                            <span *ngFor="let serial of course_data_count.course_subjects_serials;let i as index;"> {{ (i < course_data_count.course_subjects_serials.length)? serial + ' , ' : serial  }} </span>
                                            <span>Of 10</span>
                                        </h3>
                                        <p >Subject Serials Assigned</p>
                                        </div>
                                        
                                    </div>
                                </div>

                        </div>
                </div>

                    <!--course stats section ends here-->


                            <!--course subjects section starts here-->
                <div class="card card-primary col-lg-12 col-md-12 col-sm-12" style="background:transparent;overflow:hidden;">
                
                    <div class="card-header" style="background:transparent;">
                        <div class="row">
                        <h5 style="color:white;" class="card-title col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                            <i class="fas fa-book" style="text-align: center;color:white;"></i>
                             Course Subject(s) 
                             <span class="badge badge-default p-2" style="color: #6a11cb;background-color:white;">
                                {{ course_subjects.length}}
                             </span>
                            </h5>
                        
                        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                            <a class="btn btn-default btn-sm " style="background: #6a11cb;color:white;float:right;" [routerLink]="['/addSubject']" >+ Add Subject(s) </a>
                        </span>
                        </div>
                    </div>
                    <div class="card-body p-2 row"  style="background:transparent;" *ngIf="course_subjects.length != 0">
                        <div class="card card-default col-lg-5 mx-2"  *ngFor="let subject of course_subjects;" >
                            <div class="card-header pl-0" style="background:transparent;">
                                <h5 class="card-title row" style="text-transform: capitalize;">
                                    <i class="fas fa-book col-1" style="text-align: center;font-size:16px;font-weight:bold;color:#6a11cb;"></i>
                                     <span class="col-8 ml-1"> {{ subject.title }} </span>
                                    </h5>
                            </div>
                            
                            <div class=" card-body p-2 row">
                                <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Description </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);">{{ subject.description }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Topic Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ subject.topic_count }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Serial </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;"><span class="badge badge-info p-2" style="color:white;">{{ subject.serial_no }}</span></span>
                                 
                            </div>
                            <div class=' card-footer btn-group' id='subject_{{ subject.id }}_actions' *ngIf="subject.id!='empty'">
                                <a class="btn btn-default  btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/singleSubject/'+subject.id]" title='View Subject Details'><i class='fa fa-eye pointer' style="color:white;" ></i> View Subject</a>
                                <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/editSubject/'+subject.id]" title='Edit Subject Details'><i class='fa fa-edit pointer' style="color:white;" ></i> Edit</a>
                                <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" (click)="disableSubject(subject.id,course.id);" title='Disable Subject From Course'><i class='fa fa-ban pointer' style="color:white;" ></i> Disable</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-5" style="background:transparent;" *ngIf="course_subjects.length == 0">
                        <span class="alert alert-danger" style="font-size:16px;font-weight:bold;color:white;">No Subject(s) Assigned Yet </span>
                     </div>
                </div>
                            <!--course subjects section ends here-->


                            <!--course topics section starts here-->
                <div class="card card-primary col-lg-12 col-md-12 col-sm-12" style="background:transparent;overflow:hidden;">
                
                    <div class="card-header" style="background:transparent;">
                        <div class="row">
                        <h5 style="color:white;" class="card-title col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                            <i class="fas fa-clipboard" style="text-align: center;color:white;"></i>
                             Course Topic(s) 
                             <span class="badge badge-default p-2" style="color: #6a11cb;background-color:white;">
                                {{ course_topics.length}}
                             </span>
                            </h5>
                        
                        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                            <a class="btn btn-default btn-sm " style="background: #6a11cb;color:white;float:right;" [routerLink]="['/addTopic']" >+ Add Topic(s) </a>
                        </span>
                        </div>
                    </div>
                    <div class="card-body p-2 row"  style="background:transparent;" *ngIf="course_topics.length != 0">
                        <div class="card card-default col-lg-5 mx-2"  *ngFor="let topic of course_topics;" >
                            <div class="card-header pl-0" style="background:transparent;">
                                <h5 class="card-title row" style="text-transform: capitalize;">
                                    <i class="fas fa-clipboard col-1" style="text-align: center;font-size:16px;font-weight:bold;color:#6a11cb;"></i>
                                     <span class="col-8 ml-1"> {{ topic.title }} </span>
                                    </h5>
                            </div>
                            
                            <div class=" card-body p-2 row">
                                <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Description </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);">{{ topic.description }}</span>
                                <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Subject </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="text-default" style="">{{ topic.subject_title }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Video Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ topic.video_count }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Quiz Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ topic.quiz_count }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Serial </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;"><span class="badge badge-info p-2" style="color:white;">{{ topic.serial_no }}</span></span>
                                 
                            </div>
                            <div class=' card-footer btn-group' id='topic_{{ topic.id }}_actions' *ngIf="topic.id!='empty'">
                                <a class="btn btn-default  btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/singleTopic/'+topic.id]" title='View Topic Details'><i class='fa fa-eye pointer' style="color:white;" ></i> View Topic</a>
                                <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/editTopic/'+topic.id]" title='Edit Topic Details'><i class='fa fa-edit pointer' style="color:white;" ></i> Edit</a>
                                <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" (click)="disableTopic(topic.id,course.id);" title='Disable Topic From Subject'><i class='fa fa-ban pointer' style="color:white;" ></i> Disable</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-5" style="background:transparent;" *ngIf="course_topics.length == 0">
                        <span class="alert alert-danger" style="font-size:16px;font-weight:bold;color:white;">No Topic(s) Assigned Yet </span>
                     </div>
                </div>
                            <!--course topics section ends here-->

     <!--course videos section starts here-->
     <div class="card card-primary col-lg-12 col-md-12 col-sm-12" style="background:transparent;overflow:hidden;">
                
        <div class="card-header" style="background:transparent;">
            <div class="row">
            <h5 style="color:white;" class="card-title col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                <i class="fas fa-video" style="text-align: center;color:white;"></i>
                 Course Video(s) 
                 <span class="badge badge-default p-2" style="color: #6a11cb;background-color:white;">
                    {{ course_videos.length}}
                 </span>
                </h5>
            
            <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                <a class="btn btn-default btn-sm " style="background: #6a11cb;color:white;float:right;" [routerLink]="['/addVideo']" >+ Add Video(s) </a>
            </span>
            </div>
        </div>
        <div class="card-body p-2 row"  style="background:transparent;" *ngIf="course_videos.length != 0">
            <div class="card card-default col-lg-5 mx-2"  *ngFor="let video of course_videos;" >
                <div class="card-header pl-0" style="background:transparent;">
                    <h5 class="card-title row" style="text-transform: capitalize;">
                        <i class="fas fa-video col-1" style="text-align: center;font-size:16px;font-weight:bold;color:#6a11cb;"></i>
                         <span class="col-8 ml-1"> {{ video.title }} </span>
                        </h5>
                </div>
                
                <div class=" card-body p-2 row">
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Description </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);">{{ video.description }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Subject </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="text-default" style="">{{ video.subject_title }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Topic </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="text-default" style="">{{ video.topic_title }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Attachment Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ video.attachment_count }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Video Source </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="font-size:16px;color:rgb(47, 44, 44);"><span class="text-info" style="color:white;">{{ video.video_src }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Serial </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;"><span class="badge badge-info p-2" style="color:white;">{{ video.serial_no }}</span></span>
                     
                </div>
                <div class=' card-footer btn-group' id='video_{{ video.id }}_actions' *ngIf="video.id!='empty'">
                    <a class="btn btn-default  btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/singleVideo/'+video.id]" title='View Video Details'><i class='fa fa-eye pointer' style="color:white;" ></i> View Video</a>
                    <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/editVideo/'+video.id]" title='Edit Video Details'><i class='fa fa-edit pointer' style="color:white;" ></i> Edit</a>
                    <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" (click)="disableVideo(video.id,course.id);" title='Disable Video From Course'><i class='fa fa-ban pointer' style="color:white;" ></i> Disable</a>
                </div>
            </div>
        </div>
        <div class="card-body p-5" style="background:transparent;" *ngIf="course_videos.length == 0">
            <span class="alert alert-danger" style="font-size:16px;font-weight:bold;color:white;">No Video(s) Assigned Yet </span>
         </div>
    </div>
                <!--course videos section ends here-->

                 <!--course quizzes section starts here-->
     <div class="card card-primary col-lg-12 col-md-12 col-sm-12" style="background:transparent;overflow:hidden;">
                
        <div class="card-header" style="background:transparent;">
            <div class="row">
            <h5 style="color:white;" class="card-title col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                <i class="fas fa-video" style="text-align: center;color:white;"></i>
                 Course Quiz(zes) 
                 <span class="badge badge-default p-2" style="color: #6a11cb;background-color:white;">
                    {{ course_quizzes.length}}
                 </span>
                </h5>
            
            <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                <a class="btn btn-default btn-sm " style="background: #6a11cb;color:white;float:right;" [routerLink]="['/addQuiz']" >+ Add A Quiz </a>
            </span>
            </div>
        </div>
        <div class="card-body p-2 row"  style="background:transparent;" *ngIf="course_quizzes.length != 0">
            <div class="card card-default col-lg-5 mx-2"  *ngFor="let quiz of course_quizzes;" >
                <div class="card-header pl-0" style="background:transparent;">
                    <h5 class="card-title row" style="text-transform: capitalize;">
                        <i class="fas fa-vials col-1" style="text-align: center;font-size:16px;font-weight:bold;color:#6a11cb;"></i>
                         <span class="col-8 ml-1"> {{ quiz.title }} </span>
                        </h5>
                </div>
                
                <div class=" card-body p-2 row">
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Description </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);">{{ quiz.description }}</span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Subject </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="text-default" style="">{{ quiz.subject_title }}</span></span>
                    <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Topic </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="text-default" style="">{{ quiz.topic_title }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Attachment Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ quiz.attachment_count }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Question Count </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="font-size:16px;color:rgb(47, 44, 44);"><span class="badge badge-info p-2" style="color:white;">{{ quiz.question_count }}</span></span>
        <span class="col-lg-4 col-md-12 col-sm-12 p-2" style="font-size:16px;font-weight:bold;color:black;">Serial </span> <span class=" col-lg-8 col-md-12 col-sm-12 p-2" style="text-transform:capitalize;font-size:16px;"><span class="badge badge-info p-2" style="color:white;">{{ quiz.serial_no }}</span></span>
                     
                </div>
                <div class=' card-footer btn-group' id='quiz_{{ quiz.id }}_actions' *ngIf="quiz.id!='empty'">
                    <a class="btn btn-default  btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/singleQuiz/'+quiz.id]" title='View Quiz Details'><i class='fa fa-eye pointer' style="color:white;" ></i> View Quiz</a>
                    <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" [routerLink]="['/editQuiz/'+quiz.id]" title='Edit Quiz Details'><i class='fa fa-edit pointer' style="color:white;" ></i> Edit</a>
                    <a class="btn btn-default btn-sm" style="background: #6a11cb;color:white;" (click)="disableQuiz(quiz.id,course.id);" title='Disable Quiz From Course'><i class='fa fa-ban pointer' style="color:white;" ></i> Disable</a>
                </div>
            </div>
        </div>
        <div class="card-body p-5" style="background:transparent;" *ngIf="course_quizzes.length == 0">
            <span class="alert alert-danger" style="font-size:16px;font-weight:bold;color:white;">No Quiz(zes) Assigned Yet </span>
         </div>
    </div>
                <!--course quizzes section ends here-->
                        
             
            <!--course other functions ends here-->

        </div>  <!--col-lg-8 ends here-->



        </div><!--row ends here-->

        </div>
    </div>